.title {
  display: flex;
  align-items: center;
  /* width: 100%; */
}

.title img {
  max-width: 70px;
}

.title h1 {
  margin: auto 1rem;
}

.title span {
  padding: .5rem;
  border-radius: .25rem;
}

header {
  align-items: center;
  padding-top: 1rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  will-change: transform;
}


.connected {
  background-color: var(--color-chartreuse-3);
  color: white;
  font: bold;
}

.disconnected {
  background-color: var(--color-red-3);
  color: white;
  font-weight: bold;
}
