@font-face {
  font-family: "WorkSans";
  src: url('./assets/fonts/WorkSans/WorkSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "WorkSans Light";
  src: url('./assets/fonts/WorkSans/WorkSans-Light.ttf')format("truetype");
}

@font-face {
  font-family: "WorkSans Bold";
  src: url('./assets/fonts/WorkSans/WorkSans-ExtraBold.ttf')format("truetype");
}

:root {
  font-family: "WorkSans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 160px;
  --medium-radius: 22px;
  --small-radius: 12px;

}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: #12284c;
  background-color: var(--color-sky-1);
}
